---
{{- if .Values.entriesServer.enabled }}
{{- $values := .Values -}}
{{- range $serverIndex, $server := .Values.entriesServer.entries }}
{{- range $landIndex, $land := $server.lands }}

{{- $serverId := add $serverIndex 1 | toString }}
{{- $landId := add $landIndex 1 | toString }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: {{ template "kelbi.namespace" }}
  name: {{ template "kelbi.fullname" }}-channel-{{ $serverId }}-{{ $landId }}
  labels:
    app: {{ template "kelbi.name" }}-channel
spec:
  selector:
    matchLabels:
      app: {{ template "kelbi.name" }}-channel-{{ $serverId }}-{{ $landId }}
  template:
    metadata:
      labels:
        app: {{ template "kelbi.name" }}-channel-{{ $serverId }}-{{ $landId }}
    spec:
      volumes:
        - name: configjson
          configMap:
            name: {{ template "kelbi.name" }}-config
{{ toYaml $values.entriesServer.volumes | indent 8 }}
      containers:
        - name: entries
          image: {{ $values.entriesServer.image.repository }}:{{ $values.entriesServer.image.tag }}
          {{ if $.Values.global.secretName -}}
            envFrom:
            - secretRef:
                name: {{ $.Values.global.secretName }}
          {{- end }}
          env:
            - name: ERUPE_ENTRY_ENABLED
              value: "true"
            - name: ERUPE_ENTRY_PORT
              value: "80"
            {{ if $values.entriesServer.httpServer.enable }}
            - name: ERUPE_SERVERHTTP_ENABLED
              value: "true"
            - name: ERUPE_SERVERHTTP_PORT
              value: "4000"
            {{ end }}
            - name: ERUPE_ENTRY_NAME
              value: {{ $server.name }}
            - name: ERUPE_ENTRY_SERVER
              value: "{{ $serverId }}"
            - name: ERUPE_ENTRY_LAND
              value: "{{ $landId }}"
            - name: ERUPE_HOST
              value: {{ $values.global.host }}
            {{ if $server.discordEnabled }}
            - name: ERUPE_DISCORD_ENABLED
              value: "true"
            {{ end }}
          volumeMounts:
            - name: configjson
              readOnly: true
              mountPath: "/etc/config"
{{ toYaml $values.entriesServer.volumeMounts | indent 12 }}

{{- end -}}
{{- end -}}
{{- end -}}
